body{
    overflow-x: hidden;
    background-color: #fde3ccd3;
    
}
.nav-items{
    display: none;
}
.line{
    height: 3px;
    width: 100%;
    
    background: #cbd3f5;
   
}
.head{
    display: flex;   
    flex-direction: column;
    
}
.desktop{
    position:fixed;
    display: flex;
    justify-content: flex-end;
    background-color: #f9dbc0d3;
    height: 60px;
    width: 100%;
   
}
.desktop img{
    width: 100px;
    height: 60px;
}
.desktop ul {
    display: flex;
    margin-right: 5%;
    
}
.desktop ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    width:  100px;
    justify-content: space-around;
    
}
.desktop a{
    text-decoration: none;
    color: rgb(148, 148, 148);
    font-weight: bold;
    font-size: 16px;
    transition:  1s;
    
}

.desktop ul :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100px;
    color: rgb(164, 162, 162); 
    transition:  0.5s ease-in-out;
    
}
.desktop li a:hover{
    border-bottom:1px solid rgb(145, 145, 145) ;
    height: 40px;
    
}

.headTitle{
    background-color: #f9f9f9d3;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headTitle h1{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 10px ;
    
}
.headTitle a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(49, 49, 46);
    font-weight: bold; 
    border: 1px solid #837f7f;
    border-radius: 10%;
    transition:  1s;
    margin-top: 1%;
    padding: 10px;
}   
.headTitle a:hover{
    background: #dcd9c6;
    border-radius: 10%;
    color: white;
    transition:  0.5s ease-in-out;
    
}

.container{
    background-color: #fde3ccd3;
    display: flex;
    flex-direction: column;
    
}

.content{
    text-align: center;
    line-height: 50px;
    
}

.content h2{
    margin-top: 10%;
    font-size: 38px;
    font-weight:600;
    color: rgb(175, 175, 175);
    
}
.content h3{
    font-weight: bold;
    color: rgb(175, 175, 175);
    margin-bottom: 10%;
}
.intro{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
}
.intro h1{
    font-weight:600;
    color: rgb(175, 175, 175);
    font-size: 24px;
    margin-right: 10%;
    width: 750px;
    line-height: 36px;
    
}
.introImg{
    width: 25%;
    height: 5%;
    border-radius: 50%;
}

.provide{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.provide h1{
    font-size: 38px;
    margin-bottom: 3%;
    color: rgb(175, 175, 175);
}
.provide h2{
    font-size: 24px;
    font-weight: bold;
    color: rgb(175, 175, 175);
}
.provide h3{
    color: rgb(175, 175, 175);
    margin-top: 5%;
}
.provideImg{
    display: flex;
}

/*輪播*/

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-inner img {
    height: 600px;
    
    width: 600px;
    flex-shrink: 0;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}
/*以上輪播*/


.footer{
	background: #648b86d8;
	height: 180px;
	display: flex;
    padding-left: 5%;
    margin-top: 5%;
    justify-content: space-around;
    padding-bottom: px;
}
.footerLine{
	height: 3px;
    width: 250px;
    color: #000;
    background: #e8f0ee;
   
}
.connection{
	margin-top:3%;
	color: rgb(68, 68, 68);
	line-height: 30px;
	font-weight: bold;
}
.list{
    margin-top:6%;
	color: rgb(68, 68, 68);
	line-height: 30px;
	font-weight: bold;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.visible {
    opacity: 1;
}



  
#toggler{
    display: none;
}
