@media (max-width:391px){
   body{
    overflow-x: hidden;
   }
  
}
.deskTop a{
    display: none ;
}


.headImg img{
    position: absolute;
}

.headerham {
    position: relative;
    
    height: 44px;
    padding: 0 16px;
    display: block;
    margin-right: 10px;
    border-radius: 15%;
}

.hamburger-container {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 16px;
    z-index: 7000;
}
.hamburger-container span {
    display: block;
    height: 1px;
    background: #000;
    position: relative;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    
}
#toggler:checked + label .hamburger-container span:nth-child(1) {
    transform: rotate(45deg);
    top: 4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
}
#toggler:checked + label .hamburger-container span:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
}
.hamburger-container span:nth-child(2) {
    margin-top: 7px;
}
#burger:checked ~ .mobile {
    display: block;
}
.nav-items {
    background-color: #efeee7;
    color: #000;
    width: 100%;
    height: 100vh;
    position: absolute;
    
    right: 10px;
    left: 10px;
    transform: scaleY(0);
    transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
    transform-origin: 50% 0;
    opacity: 0;
    border-radius: 10px;

    z-index: 6000;
}
#toggler:checked ~ .nav-items {
    transform: scaleY(1);
    opacity: 1;
}
.nav-items ul {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    
}
.nav-items ul li {
    line-height: 60px;
    font-size: 36px;
    font-weight: bold;
    margin-right: 80%;
    font-size: 26px;
}
#toggler{
    display: none;
}
/*以上漢堡*/
.headImg img{
    width: 100%;
    height: 40%;
}
.container{
    margin-top: 100%;
}
.headTitle{
    position: relative;
    z-index: 100;
    width: 45%;
    top: 250px;
    right: 100px;
}
.headTitle h1{
    font-size: 36px;
}
.headTitle a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(49, 49, 46);
    font-weight: bold;
    height: 100px;
    border: 1px solid #837f7f;

    
    border-radius: 10%;
   
}  
